html, body {
    color: #fff;
    background-color: rgb(29, 29, 32);
    margin: 0 5%;
    padding: 10px;

}

p {
    line-height: 35px;
}

@media screen and (min-width:800px) {
    #min-nav {
        display: none;
    }

    .projects {
        display: flex;
        flex-direction: row !important;
    }
}

@media screen and (max-width: 800px) {
    #main-nav {
        display: none;
    }
}

#mobileNav li, #main-nav li {
    list-style-type: none;
    margin-bottom: 10px;
}

#mobileNav a, #main-nav a {
    cursor:pointer;
    text-decoration: none;
    color: #fff;
}

#mobileNav a:hover, #main-nav a:hover {
    border-bottom: 1px solid white;
}

#main-nav li {
    display: inline;
    margin-right: 20px;
}

#main-nav {
    text-align: center;
    padding: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}

.projects img {
    max-width: 350px;
}

.projects a {
    color: #fff;
}

footer {
    margin-bottom: 20px;
}

.socials a{
    color: white;
}

.item {
    flex: 1 1 0px;
}